@model Secteur

<html>
    <head>
        <p>Ajouter un secteur</p>
    </head>
    <body>
        <form asp-controller="Secteur" asp-action="Create" method="Post">
        <div class="form-group">
            <label asp-for="Nom">Nom</label>
            <input asp-for="Nom" type="text" class="form-control" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    </body>
</html>