@model TP_Groupe.ViewModels.SecteurListViewModel

<html>
    <head>
        <p>Liste des secteurs</p>
    </head>
    <body>    
        <div class="row">
            @foreach (var secteur in Model.Secteurs)
            {
                <partial name="_CardSecteur" model="@secteur" />
            }
        </div>
    </body>
</html>