@model TP_Groupe.ViewModels.ArticleListViewModel

<html>
    <head>
        <p>Liste des Articles</p>
    </head>
    <body>
        <div class="row">
            @foreach (var article in Model.Articles)
            {
                <partial name="_CardArticle" model="@article" />
            }
        </div>
    </body>
</html>