@model Etagere

<h1 class="display-4">Modification de l'étagère : @Model.Id</h1>
<div class="row">
    <form>
        <div class="form-group">
            <label for="poids">Poids maximum</label>
            <input type="text" class="form-control" id="poids" value="@Model.PoidsMaximum">
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>