@model TP_Groupe.ViewModels.EtagereListViewModel

<html>
    <head>
        <p>Liste des étagères</p>
    </head>
    <body>    
        <div class="row">
            @foreach (var etagere in Model.Etageres)
            {
                <partial name="_CardEtagere" model="@etagere" />
            }
        </div>
    </body>
</html>